@import "tailwindcss";

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --gray-scale: #f3f4f6;
    --app-text-color: #4b5563;
    --global-btn-bg: #f8fafc;
  }

  .dark {
    --background: #0a0a0a;
    --foreground: #F3F4F6;
    --gray-scale: #374151;
    --app-text-color: #9ca3af;
    --global-btn-bg: #1f2937;
  }

  html {
    @apply transition-colors duration-300;
  }
  
  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply transition-colors duration-300;
  }

  /* Custom utility classes */
  .text-app-text {
    color: var(--app-text-color);
  }

  .bg-global-btn-bg {
    background-color: var(--global-btn-bg);
  }

  .bg-app-text {
    color: var(--app-text-color);
  }
}

.container {
  max-width: 9999rem;
  margin: 0 auto;
  padding-inline: 1rem;
  width: 100%;
}

.custom-gradient {
  background: linear-gradient(to bottom, #87CEEB, #000080);
}