@import "tailwindcss";

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --gray-scale: #f3f4f6;
    --app-text-color: #4b5563;
  }

  .dark {
    --background: #0a0a0a;
    --foreground: #F3F4F6;
    --gray-scale: #374151;
    --app-text-color: #9ca3af;
  }

  html {
    @apply transition-colors duration-300;
  }
  
  body {
    @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100 transition-colors duration-300;
  }
}

.container {
  max-width: 9999rem;
  margin: 0 auto;
  padding-inline: 1rem;
  width: 100%;
}

.custom-gradient {
  background: linear-gradient(to bottom, #87CEEB, #000080);
}